@mixin testBg {
	background: orange;
	opacity: 0.5;
}
@mixin positionCenter {
	width: $aWidth;
	margin: 0 auto;
}
@mixin fontsize($size: 24, $base: 16) {
  font-size: $size + px;
  font-size: ($size / $base) * 1rem;
}
@mixin inline-block() {
	display: inline-block;
	*zoom: 1; // hasLayout true for ie7
	*display: inline; // for ie7
}